body, html {
	background-color: #FFFFFF;
	margin: 0;
	padding: 0;
}

body {
	font-family: Quicksand;
}

header {
	width: 100%;
	height: 100vh;
	background: url("../img/home-banner.jpg") no-repeat 50% 50%;
	background-size: cover;

}

.button-holder {
	width: 100%;
	height: 100vh;
	text-align: center;
	display: inline-flex;
	align-items: center;
	
	
}

header .shopnow {
	text-transform: uppercase;
	letter-spacing: 2px;
    background: transparent;
    border: 1px solid #fff;
	border-radius: 9px;
    color: #fff;
    text-align: center;
    font-size: 150%;
    padding: 20px 20px;
    text-decoration: none;
    transition: all .5s ease;
    margin: 0 auto;
}

.shopnow:hover{
	color: yellow;
	border-color: yellow;
}

.content {
		width: 90%;
		margin: 4em auto;
		font-size: 20px;
		line-height: 30px;
		text-align: justify;
}

.logo {
	position: fixed;
	float: left;
	margin-left: 20px;
	cursor: pointer;
}


nav {
	margin-top: 20px;
	position: fixed;
	width: 100%;
	background: rgba(0, 0, 0, .2);
	z-index: 999999;
}

nav ul{
	list-style: none;
	background: rgba(0, 0, 0, 0);
	overflow: hidden;
	color: #000;
	padding: 0;
	Float: right;
	margin: 0;
	margin-right: 20px;
	transition: 1s;
}


nav.black {
	background: rgba(0, 0, 0, .5);
	transition: 1s;
	
}

nav ul li {
	display: inline-block;
	padding: 20px;
	
}

nav ul li a {
	text-transform: uppercase;
	text-decoration: none;
	color: #fff;
	font-size: 15px;
	transition: .5s ease;
	z-index: 99997;
}

.user {
	text-transform: uppercase;
	text-decoration: none;
	font-size: 15px;
	transition: .5s ease;
	z-index: 99998;
	display: none;
	color: red;
	
}


nav ul li a:hover{
	color: yellow;
}

.active {
	color: yellow;
}

.icons {
	width: 100%;
	background: #fff;
	text-align: right;
	box-sizing: border-box;
	padding-right: 20px;
	cursor: pointer;
	display: none;
}

@media(max-width: 1000px) {
	.logo {
		position: fixed;
		top: 0;
 		margin-top: 16px;
	}
	
	nav ul {
		max-height: 0px;
		
	}
	
	nav .black ul{
		background: #000;
	}
	
	.showing {
		max-height: 70vh;
	}
	
	nav ul li {
		box-sizing: border-box;
		width: 100%;
		padding: 24px 0;
		text-align: center;
	}
	
	.icons {
		display: block;
		background: rgba(0, 0, 0, .2);
	}
}

