
.intro {
	width: 100%;
	height: 100%;
	display: table;
	top: 0;
	position: fixed;
	z-index: 99999;
	visibility: hidden;
}

.innerLog {
	display: table-cell;
	vertical-align: middle;
	width: 100%;
}

.contentLog {
	width: 26vw;
	height: 62vh;
	background: rgba(770,770,770,0.8);
	margin: auto;
	border-radius: 1%;
	display: table;
	text-align: center;
	border: 2px solid black;
	
	
}

.sometext {
	text-transform: uppercase;
	margin-top: 2vh;
}

.photo {
	display: table-cell;
	margin: auto;
	margin-top: 4vh;
	
}

.input1 {
	display: table-cell;
	margin-top: 4vh;
	border: 1px solid black;
}

.input2 {
	display: table-cell;
	margin-top: 2vh;
	border: 1px solid black;
}

.join {
	display: table;
	margin: auto;
	margin-top: 2vh;
	transition: 1s ease;
}

.join:hover{
	color: black;
}

.btons {
	text-decoration: none;
	display: table;
	text-align: center;
	margin: auto;
	margin-top: 6%;
	height: 3vh;
	padding: 3% 8% 3% 8%;
	text-transform: uppercase;
	background: rgba(0,0,0,.5);
	border-radius: 1em;
	color: white;
	transition: 1s ease;
}

.btnss {
	display: block;
	text-align: center;
	margin: auto;
	padding: 3% 8% 3% 8%;
	height: 5vh;
	text-transform: uppercase;
	border-radius: 1em;
	background: rgba(0,0,0,.5);
	color: white;
	transition: 1s ease;
}

.btnss:hover {
	color: yellow;
}

.btons:hover {
	color: yellow;
}


/** register */

.reg-holder {
	width: 100%;
	height: 100vh;
	display: inline-flex;
	align-items: center;
}

.regi {
	background: rgba(770,770,770,0.8);
	padding : 3% 5% 3% 5%;
	border-radius: 1em;
	margin: 0 auto;
}

.error {
  width: 92%; 
  margin: 0px auto; 
  padding: 10px; 
  border: 1px solid #a94442; 
  color: #a94442; 
  background: #f2dede; 
  border-radius: 5px; 
  text-align: left;
}

#nowss {
	margin-top: 100px;
}